extends ../layout.jade
block contenido
	div(class="col-md-5 center-block no-float top-space text-left")
		h1 AGREGAR NUEVO PRODUCTO
		form(method="post" action="/menu" style="margin-top:1.5em;")
			div(class="form-group")
				label Nombre
				input(type="text" name="name" placeholder="Nombre del producto" class="form-control")
			div(class="form-group")
				label Descripción
				textarea(name="description" placeholder="Descripción del producto" class="form-control")
			div(class="form-group")
				label Costo
				input(type="number" name="costo" placeholder="Contraseña" class="form-control")
			div(class="form-group")
				label Contraseña
				input(type="password" name="password" placeholder="Contraseña" class="form-control")
			div(class="form-group text-right")
				input(type="submit" class="btn btn-info" value="Guardar Producto")